venv/
strucuturas de datos/Advanced-Data-Structures-and-Algorithms-in-Java-9/

strucuturas de datos/Basic-Data-Structures-and-Algorithms-in-Java-9/
/**/.git
strucuturas de datos/.idea/misc.xml

strucuturas de datos/.idea/strucuturas de datos.iml
**/.git
strucuturas de datos/back
flutterx/
#!math/curso-algebra-lineal/notes.md

#math/curso-algebra-lineal/
react/Mastering-React-Native/
